[submodule "access-addons"]
	path = access-addons
	url = https://github.com/RLCO/access-addons.git
	branch = 12.0
[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/RLCO/account-analytic.git
	branch = 12.0
[submodule "account-budgeting"]
	path = account-budgeting
	url = https://github.com/RLCO/account-budgeting.git
	branch = 12.0
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/RLCO/account-closing.git
	branch = 12.0
[submodule "account-consolidation"]
	path = account-consolidation
	url = https://github.com/RLCO/account-consolidation.git
	branch = 12.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/RLCO/account-financial-reporting.git
	branch = 12.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/RLCO/account-financial-tools.git
	branch = 12.0
[submodule "account-fiscal-rule"]
	path = account-fiscal-rule
	url = https://github.com/RLCO/account-fiscal-rule.git
	branch = 12.0
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = https://github.com/RLCO/account-invoice-reporting.git
	branch = 12.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/RLCO/account-invoicing.git
	branch = 12.0
